/*

        This is Waybar's style configuration file. It changes how it looks and feel due to transitions.
          U can't add any modules to waybar here. U can only configurate the look of existing modules.
                      In order to add/remove or change modules plz go to config.json. 

*/

/* Guide https://github.com/Alexays/Waybar/wiki */

/*  General (aplied for all modules by default unless u change it in side of module's style)  */
* {
    border: none;
    border-radius: 8px;
    font-family: "Jetbrains Mono", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    margin: 0 3px;
    min-height: 0;
    padding: 0;
}
/*---------------------------------------------------------------------------------------------*/


window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: rgb(255, 255, 255);
}


/*  Modules  */
#custom-menu {
    font-size: 16px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    border: 2px solid #636565;
    padding: 0 20px;
    margin-right: 40px;
}

#clock {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    padding: 0 5px;
    border: 2px solid #636565;
}

#custom-updates {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    border: 2px solid #636565;
    padding: 0 5px;
}

#custom-fileexplorer {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    border: 2px solid #636565;
    padding: 0 5px;
}

#custom-screenshot {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    border: 2px solid #636565;
    padding: 0 5px;
}

#workspaces button {
    transition: 260ms ease-in-out;
    padding: 0 3px;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    border: 2px solid #636565;
    font-weight: 700;
    margin: 0 1px;
}

#workspaces button.active {
    min-width:50px;
    font-size: 14px;
    font-weight: 700;
    background: #373838;
    color: rgb(255,200,255);
    margin: 0 1px;
}

#pulseaudio {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    border: 2px solid #636565;
    padding: 0 5px;
    margin: 0 5px;
}

#network {    
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    border: 2px solid #636565;
    padding: 0 5px;
}

#custom-hypridle {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    padding: 2 10px;
    border: 2px solid #636565;
    padding: 0 5px;
    margin-left: 40px;    
}

#custom-notifications {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d2b28;
    color: rgb(255,200,255);
    padding: 2 10px;
    border: 2px solid #636565;
    padding: 0 20px;
}
/*-----------*/