@theme "start-menu"

mainbox {
    enabled:        true;
    children:       ["listview" ];
}

@theme "start-menu"

* {
    lines: 1;
    columns: 3;
}

window {
    width: 300px;
}

mainbox {
    enabled: true;
    orientation: vertical;
    children: [ "listview" ];
}

listview {
    enabled: true;
    lines: 3;
    dynamic: false;
}